html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

#top-panel, #fps {
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  margin: 1em;
  padding: 0.1em 1em;
  font-size: 1.5em;
  line-height: 1.8em;
}

#top-panel {
  top: 0px;
  left: 0px;
  border-radius:1em;
}

#fps {
  top: 0px;
  right: 0px;
  border-radius:0.5em;
}

#game-container {
}

#game-element {
  background-color: #F8F8F8;
  position:absolute;
}